<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:seo="http://typo3.org/ns/TYPO3/CMS/Seo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:if condition="{card}">
		<seo:metaTag key="twitter:card" content="{card}" />
	</f:if>

	<f:if condition="{title}">
		<seo:metaTag key="twitter:title" content="{title}" />
	</f:if>

	<f:if condition="{description}">
		<seo:metaTag key="twitter:description" content="{description}" />
	</f:if>

	<f:if condition="{twitter_image}">
		<f:for each="{twitter_image}" as="image">
			<seo:media key="twitter:image" image="{image}" width="200" />
		</f:for>
	</f:if>

	<f:if condition="{site}">
		<seo:metaTag key="twitter:site" content="{site}" />
	</f:if>

	<f:if condition="{url}">
		<seo:metaTag key="twitter:url" content="{url}" />
	</f:if>
</html>
